.chatList{
    .search{
        flex:1;
        background-color: #1c1c1c;
        display:flex;
        gap:20px;
        border-radius: 10px;
        
        .searchBar{
            padding:10px;
            flex: 1;
            align-self: center;
            border-radius: 10px;
        }

        input{
            background-color: transparent;
            border:none;
            outline: none;
            color:white;
            flex:1;
        }
    }
}