.sidebar {
  width: 60px; /* Thin sidebar */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 10px 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100; /* Ensure it's above other components */

    .icon {
    font-size: 24px;
    color: white;
    margin: 20px 0;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .icon:hover {
    transform: scale(1.1);
    color: #1da1f2; /* Highlight color */
  }
  
  .top-icons, .bottom-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}